<!DOCTYPE html>
<html>
<body style="background-color:green">
    <p>Account Name <input type="text" name="Account Name"></p>
    <p>Account Password <input type="text" name="Account Password"></p>
    <p>First Name <input type="text" name="First Name"></p>
    <p>Last Name <input type="text" name="Last Name"></p>
    <p>Email <input type="text" name="Email"></p>
    <p>Bio <input type="text" name="Bio"></p>
    <form action = "http://localhost:5000/home" method = "POST">
        <form action="Home.html">
            <button type="submit" style="background-color:lightgreen; text-align:center; font-size:200%">Save and Return to Home</button>
        </form>
    </form>
</body>
</html>