<!DOCTYPE html>
<html>
<body style="background-color:green">
    <h1>Lesson 1: Introduction to Programming</h1>
    <h3>In this lesson, we will learn what programming is in simple Enlgish and go over a few examples.</h3>
    <hr style="background-color:black; height:5px"> </hr>
    <p>To begin, I want you to go into everything that you program by thinking of it as giving someone instructions. Consider this example- you want your friend to grab something for you. In this case, you would simply say 'get me that item' and it would be done. This is how computers operate, essentially through a series of instructions ranging in complexity. Just like how there are many ways to ask for a task to be done, computers can receive instructions in many different ways and methods, usually through different programming languages. Here I will show you a basic program using a method known as "block based programming," and I want you to guess what will happen.</p>
    <img src="bbp.PNG" alt="BlockBasedExample">
    <p>If you had guessed that it prints "Hello World!" 3 times, than you would be correct! Lets review this code, since it uses some of the functions we will use in later lessons. It begins by creating a number that will keep count of how many times "Hello World!" has been printed, which is called a variable. A loop is then created that instructs the computer to repeat something while the count is less than or equal to 3. Finally, the programmer instructs the computer to post "Hello World!" and add one to the count for every iteration of the loop. Once the count is added up to 3, the loop ends.</p>
    <p>When moving onto the next couple of lessons, I want you to think of programming and the things that you do as instructions for a computer.</p>
    <form action = "http://localhost:5000/home" method = "POST">
        <form action="Home.html">
            <button type="submit" style="background-color:lightgreen; text-align:center; font-size:125%">Save and Return to Home</button>
        </form>
    </form>
</body>
</html>