<!DOCTYPE html>
<html>
<style>
.vertical-center {
  margin: 0;
  position: absolute;
  left: 97%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
</style>
    <body style="background-color:green">
        <form action="http://localhost:5000/account" method="POST">
            <form action="Account.html">
                <button type="submit" class="vertical-center" style="background-color:lightblue; text-align:center; font-size:300%; border-radius: 45%;">O</button>
            </form>
        </form>
        <h2 style="font-size:200%; color:#32CD32"><strong>Nice to see you here, [user]!</strong></h2>
        <hr style="background-color:black; height:5px"> </hr>
        <h2>You currently have no streak [0 Days].</h2>
        <h2>Now is the time to learn!</h2>
        <hr style="background-color:black; height:5px"> </hr>
        <form action="http://localhost:5000/lesson-1" method="POST">
            <form action="Example.html">
                <button type="submit" style="background-color:lightgreen; text-align:center; font-size:300%">Lesson 1: Introduction to Programming</button>
            </form>
        </form>
        <p style="color:green"> blankspace </p>
        <button type="button" onclick="alert('Complete the previous lesson first.')" style="background-color:yellow; text-align:center; font-size:300%">Lesson 2: Introduction to Python</button>
        <p style="color:green"> blankspace </p>
        <button type="button" onclick="alert('Complete the previous lesson first.')" style="background-color:red; text-align:center; font-size:300%">Lesson 3: Python Basics</button>

    </body>
</html>