<!DOCTYPE html>
<html>
<style>
.vertical-center {
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
</style>
<form action = "http://localhost:5000/home" method = "POST">
    <body style="background-color:green;">
        <img src="logo.PNG" alt="CodeExplode logo" style="height:75px;width:200px">
        <h1 style="text-align:center; font-size: 300%"><strong>Coding Just Got Easier. </strong> </h1>
        <h3 style="color:green"> blankspace </h3>
        <p style="color:#32CD32; text-align:center; font-size: 145%">Using our proven to be effective lessons made by students for students, we strive to make coding easy, fun, and intuitive. Join us in CodeEXPLODE.</p>
        <h1 style="color:green"> blankspace </h1>
        <form action="Home.html">
            <button type="submit" class="vertical-center" style="background-color:lightgreen; text-align:center; font-size:350%">JOIN US!</button>
        </form>
    </body>
</form>
</html>